<style>
  body
  {
    position: relative;
    background-color: #343a40;
    background: url("../../static/css/startbootstrap/img/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
  }

  nav
  {
    border:1px solid #000;
    font-family:arial;
    height:300px;
    width:200px;

  }

  li
  {
    line-height:25px;
  }

  ol,li
  {
    list-style:none;
    max-height:300px;
    margin:0;
    overflow:auto;
    padding:0;
    text-indent:10px;
    text-align: center;
    font-size: 24px;


  }


</style>


<h1 style="text-align:center"> ETD Visualizations <h1/>
<iframe src="http://2001.0468.0c80.6102.0001.7015.ccbe.4e22.ip6.name:5601/app/kibana#/dashboard/54c7b770-033b-11ea-a5f5-853689aee636?embed=true&_g=()" height="100%" width="100%"></iframe>
