<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FEK-Searching</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/startbootstrap/vendor/bootstrap/css//bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/css/startbootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/css/startbootstrap/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet"
    type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Custom styles for this template -->
  <link href="static/css/startbootstrap/css/landing-page.min.css" rel="stylesheet">

  <!-- fancy boxes -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link href="static/js/jquery.fancybox.min.css" rel="stylesheet">
  <script src="static/js/jquery.fancybox.min.js"></script>

  <style>
    .button {
      background-color: #1c87c9;
      border: none;
      color: white;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .imgcontainer {
      text-align: center;
      margin: auto;
    }

    .btn {
      font-weight: bold;
      font-size: 2.0rem;
      padding: 0.375rem 1rem;
      margin: 0rem 1rem;

    }

    .btn-sm {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
      border-radius: 0.2rem;
    }
  </style>
</head>

<body>

  <!-- Navigation -->


  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">FEK</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu">Menu</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/visual/">Visualization</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Datasets
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">ETD</a>
              <a class="dropdown-item" href="#">Tobacco</a>
              <!-- <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Q&A</a> -->
            <a class="nav-link " href="/user/qa/">Q&A</a>
          </li>
          {% if session['usertype'] == "admin" %}
          <li class="nav-item">
            <a class="nav-link" href="/user/admin/">Admin</a>
          </li>
          {% endif %}

        </ul>
        <!-- <nav align="right"> -->
        {% if session['logged_in'] %}
        <div class="btn-group">
          <p style="color:black;"> Hi {{ session['username'] }}. &nbsp &nbsp </p>
          <a class="btn btn-primary btn-sm float-right" href="#">Profile</a>
          <a class="btn btn-primary btn-sm float-right" href="/user/logout/">Logout</a>
        </div>
        {% else %}
        <div class="btn-group">
          <a data-fancybox class="btn btn-primary btn-sm float-right" data-src="#login" href="javascript:;">
            Sign In
          </a>
          <a class="btn btn-primary btn-sm float-right" href="/user/register/">Register</a>
        </div>
        {% endif %}
      </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Search engine for ETD and Tobacco!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="btn-group">
            {% if session['logged_in'] %}
            <a data-fancybox data-type="iframe" href="/search/etd" class="btn btn-primary fancybox">
              Search for ETD
            </a>
            <a data-fancybox data-type="iframe" href="/search/tobacco" class="btn btn-primary fancybox">
              Search for Tobacco
            </a>
            {% else %}
            <a data-fancybox class="btn btn-primary float-right" data-src="#login" href="javascript:;">
              Search for ETD
            </a>
            <a data-fancybox class="btn btn-primary float-right" data-src="#login" href="/search">
              Search for Tobacco
            </a>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a href="https://github.com/BourneXu/CS5604InfoStorageFEK">
                <i class="fab fa-github fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">

        <div class="container">
          ​ <div class="col-md-12 text-center">
            ​
            <p>
              <!-- Link back to Colorlib can' t be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> Made with <i class="icon-heart text-danger"
                aria-hidden="true"></i> by <a href="https://github.com/BourneXu/CS5604InfoStorageFEK"
                target="_blank">FEK
                Team</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- login -->
  <div style="display: none;" id="login">
    <form action="/user/loginprocess/" method="post" class="fancybox-content">
      <h2 align="center">Login</h2>
      <div class="imgcontainer">
        <img src="http://wprdea.org/image/img_avatar.png" alt="Avatar" class="avatar" width="100" height="100px">
      </div>
      <div align="center">
        {% if error %}
        <p style="color: red"><strong>Error: </strong>{{error}}</p>
        {% endif %}
        <label for="uname"><b>Username</b></label>
        <input class="form-control" type="text" placeholder="Enter Username" name="username" required>
        <p></p>
        <label for="psw"><b>Password</b></label>
        <input class="form-control" type="password" placeholder="Enter Password" name="password" required>
        <!-- <button type="submit">Login</button> -->
        <p></p>
        <input class="btn btn-primary btn-sm" id="button" type="submit" value="Login"></input>
        <p></p>
        <p>Don't have an account? <a href="/user/register">Sign Up</a></p>

      </div>
    </form>
  </div>

  <!-- Add flash messages-->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <script>
    var messages = {{ messages | safe }};
    for (var i = 0; i < messages.length; i++) {
      alert(messages[i]);
    }
  </script>
  {% endif %}
  {% endwith %}

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
