{% block body %}

<body style="background-image:url('https://www.atimeofmyown.com/uploads/5/1/1/6/51161337/1312808.jpg?646')">
	<div class="container" style="margin: auto;
  width: 50%;
  border: 3px solid green;
  background-color: #DCDCDC;
  padding: 10px;">
		<br>
		<h4>Please Login:</h4>
		<br>
		{% if error %}
			<p style="color: red"><strong>Error: </strong>{{error}}</p>
		{% endif %}
		<form action="/user/loginprocess/" class="form-inline" method="post">
			<input type="text" class="form-control" placeholder="Username" name="username" value="">
			<input type="password" class="form-control" placeholder="Password" name="password" value="">
			<input class="btn btn-primary" type="submit" value="Login">
		</form>
	</div>
</body>
{% endblock %}
